* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  bottom: 0;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  font-family: "Poppins", sans-serif;
  background: rgb(58, 60, 180);
  background: linear-gradient(
    90deg,
    rgb(101, 103, 225) 0%,
    rgb(131, 243, 239) 64%,
    rgb(137, 235, 139) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
